@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: NTSomic;
    src: url(./assets/NTSomic-Bold.ttf);
}

*, .settings {
    overflow-x: hidden;
}

.map, svg {
    overflow-x: auto;
    cursor: crosshair;
}

.v-btn {
    margin-bottom: 1em;
}

center {
    padding: 10px;
}

.v-slider-thumb, .v-slider-thumb__surface, .v-slider-thumb__ripple, .v-expansion-panel, .v-expansion-panel-title,
.v-expansion-panel-title__overlay, .v-expansion-panel__shadow, h2 {
    overflow: hidden;
}